/* Styling for HTML elements */
body {
    padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 24px;
    line-height: 150%;
    color: #333;
    background: #efeee7;
  }
  
/* Add a  light green background color to the top navigation */
.topnav {
  background-color:lightseagreen;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
float: left;
color: #efeee7;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 26px;
}

/* Add a color to the active/current link */
.topnav a.active {
background-color:lightseagreen;
color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
float: right;
}









  
  /* Making our navbar li's inline-block elements this makes it so we can have multiple on the same line. Floats could have been used too */
/* .navbar li {
  display:inline-block;
  padding: 5px;
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
  background: #fff;
  border-radius: 2px;
  text-align: right; */
}

/* Getting rid of the default link styles here */
/* .navbar li a {
  color: #000;
  text-decoration: none;
} */

.right {
  text-align: right;
  float: right;
}

#PlotMenu {
  margin: 0px;
  padding: 0px;
  /* Size properties */
  padding-top: 5px;
  /* Font properties */
  color: #fff;
  font-size: 80%;
}


    /* Selecting elements by class */
.container {
  width: 1024;
  margin: 20px;
}

  #figure,
  #equator,
  #graph {
    float: left;
    margin: 10px;
  }

   #figure {
    position: relative;
   }

  img {
    width: 40%;
    height: auto;
  }

  #equator{
    color: black;
    font-size: 32px;
  }   
  
  #visualization {display: inline-block;}
  
  h3 {color: black;
    font-size: 32px
    }
  
  #graph2 {width: 40%;
    height: auto;
  }

  #graph3 {width: 40%;
    height: auto;
  }
  #graph4 {width: 40%;
    height: auto;
  }
  #graph5 {width: 40%;
    height: auto;
  }