/* Formatting for HTML elements */
body {
    padding: 10;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 22px;
    line-height: 150%;
    color: #333;
    background: #efeee7;
   }

/* Formatting for the navigation bar */
.navbar {
    max-height: 50px;
    background-color:lightseagreen;
    font-size: 25px; 
}
  .navigation .navbar-brand {
    color:#fff;
    margin-left: 20px;
    padding: inherit;
    font-weight: bold;
    font-size: 25px;
    background-color:lightseagreen;
    font-family: Georgia, "Times New Roman", Times, serif;
 }

 .active, .dropdown-menu .dropdown-item:active a:hover {
    background-color:lightseagreen;}
   */
.dropdown-item {color:powderblue;}

.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover {
    background-color: powderblue;}
  
.nav-link:hover {background-color: lightseagreen;}
  
.navbar-brand:hover {color:powderblue;}

/* Selecting elements by class to format the body of the page*/
.container {width: 1024;
    margin: 20px;
}

/* Format the header*/
#equator{
    color:lightseagreen;
    background-color: #fff;
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px;
}

/* image formatting*/
.img-thumbnail{ 
    width: 40%;
    height: auto;
    padding:10px;
    border: none;
}

.img-thumbnail {float: left;
    margin: 10px;
    position: relative;
    background-color: #fff;}


/* font formatting for paragraphs */
p{
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: large;
   padding:10px;
   background-color: #fff;
   
}
.col-md-12{
    background-color: #fff;
    padding-top: 20px;
    padding-bottom:40px;
}

/* Media adjustments*/
@media(max-width:767px){
    .navbar.bg-light{
        background-color:lightseagreen;   
    }

    .navbar-collapse{
        background-color: #fff;
    }
    .navbar{
        padding:inherit;
    }
}
