/* Styling for HTML elements */
body {
    padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 24px;
    line-height: 150%;
    color: #333;
    background: #fff;
  }
  
/* Add a  light green background color to the top navigation */
.topnav {
  background-color:lightseagreen;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
float: left;
color: #efeee7;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 26px;
}

/* Add a color to the active/current link */
.topnav a.active {
background-color:lightseagreen;
color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
float: right;
}

h2{color: lightseagreen;
    font-size: 32px;
    background-color: #fff;
}

#graph3 {
    width: 60%;
    height: auto;    
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

#visualization {display: inline-block;}
  
  h3 {color:lightseagreen;
    font-size: 32px
    }
  
  #graph2 {width: 40%;
    height: auto;
  }

  #graph3 {width: 40%;
    height: auto;
  }
  #graph4 {width: 40%;
    height: auto;
  }
  #graph5 {width: 40%;
    height: auto;
  }